<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Upload Photos</title>
</head>
<body>

	<div th:insert="DashBoard.html"></div>
	<div class="container">
		<div class="col d-flex justify-content-center ">
			<form action="/upload" method="post" enctype="multipart/form-data">


				Select Image :
				<div>
					<input type="file" id="file" name="file"><br>
					<br> <input type="submit" value="Upload">
				</div>



			</form>
		</div>
	</div>
	<p>[[${message}]]</p>
</body>
</html>